SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@ca-result-portal.local
ALLOWED_LECTURER_EMAIL_DOMAIN=yourschool.edu.ng

# Uncomment and fill these in when you move from SQLite to PostgreSQL:
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=ca_verification_db




Content-Type: text/plain; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Subject: Set up your CA Result Portal password
From: lamanasystem@gmail.com
To: acquahpearl18@gmail.com
Date: Thu, 30 Jul 2026 22:11:50 -0000
Message-ID: 
 <178544951069.14108.10188525206943410746@DESKTOP-1JI2IOF.ucc.edu.gh>

Hi BENTUM-SIMPSON, SAMUEL EBO,

Your student account on the CA Result Verification Portal is ready for the
final step. Click the link below to set your password:

http://127.0.0.1:8000/accounts/activate/student/OA/dcjuzq-e908c219ff251b00cd235337b1b0033b/

This link can only be used once and will expire after use. If you didn't
request this, you can safely ignore this email